.landingpage{
    max-width: 100vw;
    min-height: 100vw;
    position: relative;
}
#background{
    max-width: 100vw;
    min-height: 100vw;
    position: relative;
}
#dopamine{
    position: absolute;
    top:  33%;
    left: 43%;
    border-radius: 25%;
    border: none;
    background-color: #0C2158;
    padding: 4px;
    color: white;
    border: 1px solid black;
    font-size: 10px;

}